{% comment %} 

  Metadata pour un cours - sous forme de Front Matter

{% endcomment %}
<div class="cours-meta">

  {% if page.code %}

    {% assign acronymSubpage = site.pages | where: 'title', 'Acronymes' %}
    {% assign acronymArray = acronymSubpage[0].acronymes %}

    {% include acronymes.html acronymArray=acronymArray %}

  {% endif %}

  {% if page.periodes %}
    <p>{{ page.periodes }}
      périodes hebdomadaires</p>
  {% else %}
    {% if page.competences %}
      {% assign c_periodes = 0 %}
      {% for item in page.competences %}
        {% for key in item %}
          {% assign c_periodes = c_periodes | plus: key.last %}
        {% endfor %}
      {% endfor %}
      {{ c_periodes }}
      périodes hebdomadaires<br/>
    {% endif %}
  {% endif %}

  {% if page.cursus %}
    <h2>
      {% if page.timeunit %}
        {{ page.timeunit }}
        {% else %}Semestre
      {% endif %}
    </h2>
    <ul>
      {% for item in page.cursus %}
        {% for key in item %}
          <li>{{ key.first }}
            :
            {{ key.last }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if page.competences %}
    <h2>Compétences opérationnelles</h2>

    {% assign compSubpage = site.pages | where: 'title', 'Compétences' %}
    {% assign compArray = compSubpage[0].comp %}

    {% include meta-competences.html compArray=compArray %}
  {% endif %}

</div>