{% assign periodesCours = 0 %}

{% if page.competences %}
<table class="competences">
  {% for item in page.competences %}
    {% for key_value in item %}
      {% assign key = key_value[0] %}
      {% assign periods = key_value[1] %}
      {% for domaine in site.data.comp %}
        {% for subkey in domaine.items %}
          {% if subkey[0] == key %}
            {% assign definition = subkey[1] %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      <tr>
        <td data-comp="{{ key }}" class="data-nbr">{{ key }}</td>
        <td>{{ definition }} ({{ periods }}p.)</td>
      </tr>

      {% assign periodesCours = periodesCours | plus: periods %}
    {% endfor %}
  {% endfor %}
</table>
{% endif %}