{% assign periodesCours = 0 %}

{% if page.competences %}
<ul class="competences details">
  {% for item in page.competences %}

  {% for key in item %}
  {% assign definition = "" %}
  {% assign definition = include.compArray[key.first] %}

  <li>
    <span data-comp="{{ key.first }}">
      {{ key.first }}
    </span>
    <span class="tab"></span>
    <span>
      {{ definition }}
    </span>
    ({{ key.last }}p.)
  </li>

  {% assign periodesCours = periodesCours | plus: key.last %}
  {% endfor %}
  {% endfor %}
</ul>
{% endif %}