{% assign periodesCours = 0 %}

{% if page.competences %}
<table class="competences">
  {% for item in page.competences %}
    {% for key in item %}
      {% assign definition = "" %}
      {% assign definition = include.compArray[key.first] %}

      <tr>
        <td data-comp="{{ key.first }}">{{ key.first }}</td>
        <td>{{ definition }} ({{ key.last }}p.)</td>
      </tr>

      {% assign periodesCours = periodesCours | plus: key.last %}
    {% endfor %}
  {% endfor %}
</table>
{% endif %}