{% assign periodesCours = 0 %}
{% assign compSubpage = site.pages | where: 'title', 'Objectifs' %}
{% assign compArray = compSubpage[0].comp %}

{% if page.competences %}
<table class="competences">
  {% for item in page.competences %}
    {% for key_value in item %}
      {% assign key = key_value[0] %}
      {% assign periods = key_value[1] %}
      {% assign definition = "" %}
      {% for domaine in compArray %}
        {% for competence_obj in domaine.items %}
          {% if competence_obj.items[key] %}
            {% assign definition = competence_obj.items[key] %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      <tr>
        <td data-comp="{{ key }}" class="data-nbr">{{ key }}</td>
        <td>{{ definition }}</td>
        <!-- <td>({{ periods }}p.)</td> -->
      </tr>

      {% assign periodesCours = periodesCours | plus: periods %}
    {% endfor %}
  {% endfor %}
</table>
{% endif %}