{% assign periodesCours = 0 %}

{% if page.competences %}
<ul class="competences details">
  {% for item in page.competences %}

  {% for key in item %}
  {% assign definition = "" %}
  
  {% assign definition = include.compArray[key.first] %}
  {% assign label = key.first | append: ": " | append: key.last | append: " p." %}
  {% capture line %}
  {{ key.first | ljust: 4 }}{{ definition | strip }}
  {% endcapture %}
  <pre>{{ line | append: ": " | append: key.last | append: " p." }}</pre>

  {% assign periodesCours = periodesCours | plus: key.last %}
  {% endfor %}
  {% endfor %}
</ul>
{% endif %}