{% comment %} 

  Navigation

{% endcomment %}
<ul class="page-nav">
  <li>
    <a href="{{ '/pages/cours-EP' | relative_url }}" class="btn">Cours EP</a>
  </li>
  <li>
    <a href="{{ '/pages/cours-AP' | relative_url }}" class="btn">Cours AP</a>
  </li>
  <li>
    <a href="{{ '/cursus-plein-temps' | relative_url }}" class="btn">Cursus Plein-temps</a>
  </li>
  <li>
    <a href="{{ '/cursus-fpc' | relative_url }}" class="btn">Cursus FPC</a>
  </li>
  <li>
    <a href="{{ '/cursus-dual' | relative_url }}" class="btn">Cursus Dual</a>
  </li>
</ul>