<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  {% include header-defaults.html %}
</head>

<body>

  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">
      {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    {% include nav.html %}
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    {% assign cours = site.pages %}
    {% assign periodes_EP_total = 0 %}

    {% assign compSubpage = site.pages | where: 'title', 'Compétences' %}
    {% assign compArray = compSubpage[0].comp %}

    {% assign formation = "Duals" %}
    {% assign semestres = "S1,S2,S3,S4,S5,S6,S7,S8" | split: ',' %}

    {% for semestre in semestres %}
      {% include cursus-loop.html compArray=compArray %}
      {% assign periodes_EP_total = periodes_EP_total | plus: periodes_EP %}
    {% endfor %}

    <p>Nombre total de périodes EP:
      {{ periodes_EP_total }}</p>


    {% include footer.html %}
  </main>
</body>

</html>