<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include header-defaults.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% include nav.html %}
    </header>

    <main class="main-content" id="content" role="main">
      {{ content }}

      {% assign cours = site.pages %}

      {% assign compSubpage = site.pages | where: 'title', 'Compétences' %}
      {% assign compArray = compSubpage[0].comp %}

      {% assign formation = "Plein-temps" %}
      {% assign semestres = "S1,S2,S3,S4,S5,S6,S7,S8" | split: ',' %}
 
      {% for semestre in semestres %}
        {% include cursus-loop.html compArray=compArray %}
      {% endfor %}

      {% include footer.html %}
    </main>
    </body>
  </body>
</html>
