<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% include nav.html %}
    </header>

    <main class="main-content" id="content" role="main">

      {{ content }}
      
      {% assign compSubpage = site.pages | where: 'title', 'Objectifs' %}
      {% assign comps = compSubpage[0].comp %}
      {% assign cours = site.pages | where: "layout", "cours-alt-1" %}
      
      {% for domaine in comps %}
        <h1>Domaine {{ domaine.domaine }}</h1>
        {% for competence_obj in domaine.items %}
          <h2>{{ competence_obj.competence }}</h2>
          <table class="objectifs competences">
            {% for key in competence_obj.items %}
              {% assign label = key[0] %}
              {% assign description = key[1] %}
              <tr>
                <td>{{ label }}</td>
                <td>{{ description }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endfor %}
      {% endfor %}

      {% include footer.html %}
    </main>
  </body>
</html>
