<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% include nav.html %}
    </header>

    <main class="main-content" id="content" role="main">

      {{ content }}
      
      {% assign compSubpage = site.pages | where: 'title', 'Objectifs' %}
      {% assign comps = compSubpage[0].comp %}
      {% assign cours = site.pages | where: "layout", "cours" %}
      
      {% for domaine in comps %}
        <h2>Domaine: {{ domaine.domaine }}</h2>
        <table class="objectifs competences">
          {% for key_value in domaine.items %}
            {% assign key = key_value[0] %}
            {% assign competence = key_value[1] %}
            {% include table-item-comp.html competence=competence cours=cours key=key %}
          {% endfor %}
        </table>
      {% endfor %}

      {% include footer.html %}
    </main>
  </body>
</html>
