<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include header.html %}
  </head>
  <body class="global global-fpc">

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% include nav.html %}
    </header>

    <main class="main-content global" id="content" role="main">
      {{ content }}

      {% assign cours = site.pages %}

      {% assign compSubpage = site.pages | where: 'title', 'Compétences' %}
      {% assign compArray = compSubpage[0].comp %}

      {% assign formation = "FPC" %}
      {% assign semestres = "S1,S2,S3,S4,S5,S6" | split: ',' %}
      <div class="vue-globale">
        {% for semestre in semestres %}
          {% include cursus-loop.html compArray=compArray %}
        {% endfor %}
      </div>

      {% include footer.html %}
    </main>
    </body>
  </body>
</html>
