<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% include nav.html %}
    </header>

    <main class="main-content" id="content" role="main">
      {{ content }}

      {% if page contains "type" %}
        {% assign type = page.type %}
        {% assign cours = site.pages | where: "layout", "cours" | where: "type", type %}
      {% else %}
        {% assign cours = site.pages | where: "layout", "cours" %}
      {% endif %}


      {% assign periodes = 0 %}

      {% assign compSubpage = site.pages | where: 'title', 'Compétences' %}
      {% assign compArray = compSubpage[0].comp %}

      <table class="cursus">

        {% for page in cours %}
          {% include table-item.html compArray=compArray %}
          {% assign periodes = periodes | plus: periodesCours %}
        {% endfor %}

      </table>

      <p>Nombre total de périodes:
        {{ periodes }}</p>

      {% include footer.html %}
    </main>
  </body>
</html>
